html {
    font-family: 'Barlow', sans-serif;
    color: #f2f2f2;
    background-color: #09090f;
    font-size: 1.3em;
}

.content {
    max-width: 1000px;
    width: calc(100% - 20px);
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: white;
}

#article-list {
    display: flex;
    flex-direction: column;
}

#article-list>a {
    margin-left: 0.5em;
}

#pinned-article-list {
    display: flex;
    flex-direction: column;
}

#pinned-article-list>a {
    margin-left: 0.5em;
}

#article-content * {
    max-width: 100%;
}
